



#search-area {
	
	margin: 10em 0; 


}

/*_______Table______*/

.flight-table thead tr {

	background-color: rgb(205, 205, 205);

}

thead tr td {

	font-weight: bold;

}

tr td {


	max-width: 20em;

}

.btn-secondary {

	width: 300px;

}
